* {
  box-sizing: border-box;
}

body {
  background: #FBFDFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.title {
  margin: 22px 0 10px;
  color: #6B68EC;
  font-size: 95px;
  font-weight: 800;
}

.text {
  color: #484855;
  font-size: 22px;
  font-weight: 600;
  margin: 14px 0;
  line-height: 1.75;
}

.btn {
  text-decoration: none;
  font-size: 18px;
  padding: 37px 88px;
  margin: 50px 0;
  background-color: #1C1C25;
  color: #FFF;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.25s;
  display: inline-block;
  font-weight: 600;
}
.btn:hover {
  background-color: #6B68EC;
}
.btn-red {
  background-color: #C2D8BE;
  color: #333;
}
.btn-red:hover {
  background-color: #6B68EC;
}
.btn-green {
  background-color: #E5AFAF;
  color: #812E2E;
}
.btn-green:hover {
  background-color: #6B68EC;
}

.img {
  margin-top: 90px;
}

.test {
  color: red;
}